<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
        <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" href="/Admin">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Ana Ekran
                </a>

                <a class="nav-link" href="/Admin/Departmants">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-shield-halved"></i></div>
                    Departman Yönetimi
                </a>
                <a class="nav-link" href="/Admin/Employees">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-user"></i></div>
                    Personel Yönetimi
                </a>
                <a class="nav-link" href="/Admin/Services">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-list"></i></div>
                    Hizmet Yönetimi
                </a>
                <a class="nav-link" href="/Admin/Customers">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-circle-user"></i></div>
                    Müşteri Yönetimi
                </a>

        <div class="sb-sidenav-menu-heading">İletişim</div>
                <a class="nav-link" href="/admin/AboutUs">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-copyright"></i></div>
                    Hakkımızda
                </a>

                <a class="nav-link" href="/admin/News">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-fullhorn"></i></div>
                    Kampanya ve Duyurular
                </a>

                <a class="nav-link" href="/admin/Sliders">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-layer-group"></i></div>
                    Slider Yönetimi
                </a>

                <a class="nav-link" href="/admin/Contacts">
                    <div class="sb-nav-link-icon"><i class="fa-regular fa-comments"></i></div>
                    İletişim Formları
                </a>
                <a class="nav-link" href="/admin/Galleries">
                    <div class="sb-nav-link-icon"><i class="fa-solid fa-image"></i></i></div>
                    Galeri Yonetimi
                </a>

            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Admin
        </div>
    </nav>
</div>